.random-articles-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  margin-bottom: 3rem;
  margin: 0 auto;
  max-width: 80%;
}
.random-Card img {
  max-height: 12rem;
  max-width: 12rem;
  padding: 0.5rem;
}
h2 {
  font-size: 1rem;
  max-width: 80%;
  padding-bottom: 0.5rem;
  color: black;
}
.random-Card {
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #d5d5d5;
}

.generateBtn {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.article-container {
  border: 1px solid #d5d5d5;
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.images-container h2 {
  margin: 0 auto;
  font-size: 1.7rem;
  border-bottom: 1px solid #d5d5d5;
  width: 20%;
}
.images-container ul {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
}
.images-container ul li {
  margin: 0 auto;
}
.images-container ul img {
  max-width: 10rem;
  max-height: 10rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .random-articles-container {
    grid-template-columns: auto;
    grid-gap: 0rem;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  .random-articles-container {
    grid-template-columns: auto auto;
    grid-gap: 0.3rem;
    margin-bottom: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
