header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 5rem;
  padding: 0.5rem;
}
.active:not(.logo) {
  border-bottom: 2px solid #7da87b; /* Change the color as needed */
}
.active:not(.logo):hover {
  color: #7da87b;
}
.nav__link:hover {
  color: #7da87b;
}
.header-dark-theme {
  background-color: black;
}
.nav.dark-theme-item .nav__link {
  color: #fff;
}
.dark-theme-item {
  color: #fff;
}
.light-theme-item {
  color: black;
}
/* Light Mode Styles */
.light-theme .nav__item h2 {
  color: black; /* Set the color for light mode */
}

.light-theme .menu .line {
  background-color: black; /* Set the color for light mode */
}

.dark-theme .nav__item h2 {
  color: white; /* Set the color for dark mode */
}

.dark-theme .menu .line {
  background-color: white; /* Set the color for dark mode */
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  padding-top: 0.7rem;
}
nav .logo {
  display: flex;
  flex-direction: row;
}
nav h2 {
  font-size: 2.4rem;
  margin-top: 0rem;
  margin-right: 1.2rem;
}

.theme-switch {
  cursor: pointer;
  width: 1rem;
  font-size: 1.7rem;
  margin-top: 1.5rem;
  margin-right: 3rem;
}

nav,
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  gap: 2rem;
  margin-left: 2rem;
  padding-right: 1rem;
}

.nav__item a {
  text-transform: uppercase;
  font-size: var(--small-size);
  color: var(--text-color);
}
.nav__item a .active {
  border-bottom: 1px solid green;
}

/*------------ mobile navigation ------------*/

@media (max-width: 767px) {
  .theme-switch {
    margin-bottom: 1rem;
    margin-right: 5rem;
  }
  nav h2 {
    margin-top: 0.3rem;
  }
  .line {
    cursor: pointer;
    display: block;
    width: 1.8rem;
    height: 0.4rem;
    margin: 0.2rem auto;
    margin-left: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
  }

  .line-rotate:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .line-rotate:nth-child(2) {
    opacity: 0;
  }

  .line-rotate:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  nav .menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  header {
    height: 6.1rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-top: -0.5rem;
    margin-left: -3rem;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    width: 100%;
    transition: transform 1s ease-in-out;
  }
  .nav__list.open {
    margin: 0 1rem 5rem 6rem;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 100vh;
    width: 95%;
    height: 5rem;
    position: relative;
  }
  .active:not(.logo) {
    border-bottom: 2px solid #7da87b; /* Change the color as needed */
  }
  .nav__list.open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #fff;
    border: 1px solid grey;
    z-index: -1;
  }

  .nav__list.open > * {
    color: black;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    /* Your styles for the content of the navigation menu when it's open */
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .nav__item {
    padding-right: 1rem;
  }
  .theme-switch {
    margin-top: 1.2rem;
  }
}

#dark header {
  background-color: #000000c0;
}

#dark .nav__item a,
#dark .logo {
  color: #ffffff;
}

#dark nav .nav__list.open {
  background-color: #000000;
}

#dark .line {
  background-color: #ffffff;
}

#dark .nav__item {
  color: black;
}

@media (max-width: 919px) {
  header {
    justify-content: space-evenly;
  }
  nav {
    margin-left: 2rem;
  }
}
