.tabs-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.1px solid #d5d5d5;
}
.languages-list {
  display: flex;
  justify-content: center;
  background-color: #7da87b;
  border: 1px solid #d5d5d5;
}
.article-content h2 {
  margin: 0 auto;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.Languages {
  display: flex;
  flex-direction: column;
}

.articles-titles {
  max-width: 79%;
  padding: 0.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1px solid #d5d5d5;
}
.articles-titles h2 {
  font-size: 1rem;
  margin: 0 auto;
}
.articles-list {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
}
.articles-list li {
  padding: 0.5rem;
  width: 10rem;
  margin: 0 auto;
  border: 1px solid transparent; /* Start with a transparent border */
  transition: border 0.1s ease-in-out;
}

.articles-list .selected {
  border: 1px solid #7da87b;
  cursor: pointer;
}

.extract {
  padding: 1rem;
  color: black;
}
.language-item {
  padding: 0.3rem 1rem 0.3rem 1rem;
  cursor: pointer;
  border-radius: 1px;
  transition: background-color 0.1s ease-in; /* Transition the background-color property */
}

.language-item.active {
  background-color: #fff;
}
