h1 {
  margin: 3rem;
}
.inputDateContainer {
  display: flex;
  justify-content: center;
}
.inputDateContainer input {
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  padding: 0.1rem;
  margin: 0.1rem;
  border: 1px solid gray;
  max-width: 6rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.inputDateContainer input:focus-within {
  box-shadow: 3px 3px 6px rgba(253, 254, 254, 0.5);
  transform: translateY(-3px);
}
.eventContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.5rem;
  max-width: 85%;
  margin: 0 auto;
}
/* .eventCard {
  background-color: #fff;
  display: inline-block;
  border: 1px solid #dfdfdf;
} */
.eventCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dfdfdf;
  padding: 1rem;
  justify-content: space-between;
  min-height: 260px;
}

.eventCard h2 {
  margin: 0 auto;
  font-size: 1.2rem;
}

.eventCard p {
  color: black;
  text-align: center;
  max-width: 80%;
  margin: 1rem 0;
}
.eventCard img {
  max-width: 15rem;
  max-height: 14rem;
  border-radius: 6px;
  margin: 1rem 0;
  background-color: #fff;
}
.eventCardDark {
  background-color: black;
  border: 1px solid #fff;
}
.eventCardDark p {
  color: #fff;
}
.eventCardDark h2 {
  color: #fff;
}

.eventCardContent {
  flex: 1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .eventContainer {
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 0.9rem;
  }
  .inputDateContainer {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  .eventContainer {
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
}
