.about img {
  width: 20rem;
  height: 20rem;
}
.about h1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  width: 90%;
}
.about .content {
  padding-top: 3rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .about h1 {
    font-size: 2rem;
    width: 80%;
  }
  .about .content {
    padding-top: 3rem;
    font-size: 1rem;
    max-width: 80%;
  }
}
