.homePageContent p {
  max-width: 40%;
  font-size: 1.5rem;
  margin: 0 auto;
}
.homePageContent {
  margin: 0 auto;
  padding: 1rem;
}
@media (max-width: 767px) {
  .homePageContent p {
    max-width: 80%;
    font-size: 1.2rem;
  }
}

.about h1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  width: 90%;
}
.about .content {
  padding-top: 3rem;
  margin: 0 auto;
}
.about span {
  font-weight: bold;
  font-size: 1.3rem;
  color: #7da87b;
}
@media (max-width: 767px) {
  .about h1 {
    font-size: 2rem;
    width: 80%;
  }
  .about .content {
    padding-top: 3rem;
    font-size: 1rem;
    max-width: 80%;
  }
}
