button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7da87b;
  background-image: linear-gradient(90deg, #7da87b, #7da87b);
  padding: 1rem 2.5rem;
  height: 3rem;
  width: 12rem;
  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;

  position: relative;
  overflow: hidden;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button::before,
button::after {
  background: #fff;
  content: "";
  opacity: 0;
  position: absolute;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

button::before {
  height: 155px;
  width: 50px;
  top: -50px;
}

button::after {
  height: 20rem;
  width: 8rem;
  top: -50px;
}

button::before {
  left: -50%;
}

button::after {
  left: -100%;
}

button:hover,
button:active,
button:focus {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  background-color: #7da87b;

  button:hover::before {
    left: 120%;
    opacity: 0.5;
  }

  button:hover::after {
    left: 200%;
    opacity: 0.6;
  }
}
