/* button.css */
button {
  width: 220px;
  height: 50px;
  color: black;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden; /* Add overflow hidden */
}

button:before,
button:after {
  content: "";
  background: linear-gradient(
    45deg,
    #f5f5c6,
    #7da87b,
    #326765,
    #326765,
    #326765,
    #7da87b,
    #a2cdb0,
    #d0dd97
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:hover:before {
  animation: glowing 20s linear infinite;
  opacity: 1;
}

button:active:before,
button:focus:before {
  animation: none; /* Remove animation on click/focus */
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
