.search-container h1 {
  font-size: 3rem;
  margin: 1rem;
}

.search-container form input {
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 7px;
  border: 1px solid #d5d5d5;
  appearance: none;
  transition: 0.4s;
  outline: none;
  color: #27253d;
  margin: 1rem;
}
.search-btn,
.close-btn {
  border-radius: 15px;
  padding: 1rem;
  width: 7rem;
}

.search-container form input:focus-within {
  box-shadow: 3px 3px 6px rgba(226, 228, 228, 0.5);
  transform: translateY(-5px);
}
.total-hits {
  margin-bottom: 1rem;
}
.total-hits span {
  margin-left: 0.3rem;
}
.search-result {
  list-style-type: none;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  max-width: 80%;
}
.search-card-dark li {
  background-color: #27253d;
}

.search-result .search-card {
  padding: 0.6rem;
  padding-bottom: 2.5rem;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}
.search-result .search-card p {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
.search-result .search-card p .searchmatch {
  font-weight: bold;
  font-size: 1.2rem;
  color: #7da87b;
}
.search-result .search-card a {
  background-image: linear-gradient(to right, #085843, #21ae9e);
  box-shadow: 0 4px 15px 0 rgba(10, 81, 47, 0.75);
  color: #fff;
  padding: 0.6rem;
  margin-top: 1rem;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .search-result {
    grid-template-columns: auto;
    grid-gap: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  .search-result {
    grid-template-columns: auto auto;
    grid-gap: 0.3rem;
  }
}
